@require '~vuepress-plugin-tabs/dist/themes/default.styl'

// elment-ui 表格
.el-table table
  margin 0

// 滚动条
::-webkit-scrollbar
  width: 6px
  height: 8px

::-webkit-scrollbar-thumb
  background-color: #11A8CD !important