/* plugin: vitepress-plugin-search */
.VPPluginSearch-flex-logo {
  display: none;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .DocSearch-Button .DocSearch-Search-Icon {
    left: 1.5rem;
  }
}
@media (min-width: 640px) {
  .VPNavBarSearch {
    flex-grow: 1;
  }
  .DocSearch-Button {
    background-color: var(--vp-c-bg-alt);
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0 0.625rem 0 0.75rem;
  }
}

/* plugin: markdown-it-task-lists */
ul.contains-task-list {
  list-style: none;
  padding-left: initial;
}
